doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="css/main.css")
        title Document
    body 
        section.nav 
            .container
                .nav__title 
                    h2 ПОПУЛЯРНЫЕ КАТЕГОРИИ 
                .row 
                    .col-md-7
                        
        section.rasm 
            .container
                .row
                    .rasm__title 
                        h1 НАШИ РАБОТЫ
                    .col-md-3
                        .rasm.oshxona 
                            .oshxona__pot 
                                img(src="img/oshxona.png" alt="ds")
                            .oshxona__desc
                                p КУХНЯ ГЛЕТЧЕР
                    .col-md-3
                        .rasm.oshxona 
                            .oshxona__pot
                                img(src="img/oshxona.png" alt="ds")
                            .oshxona__desce
                                p ГОСТИННАЯ ДЕНВЕР
                    .col-md-4
                        .rasm.oshxona 
                            .oshxona__pot 
                                img(src="img/oshxona 2.png" alt="ds")
                            .oshxona__desca
                                p КУХНЯ ЛОНДОН
                                
                    .col-md-4
                        .rasm.oshxona 
                            .oshxona__lot 
                                img(src="img/oshxona 3.png" alt="ds") 
                                .oshxona__descw
                                    p КУХНЯ АМЕЛИ
        section.karta
            .container
                .row
                    .karta__image
                        img(src='img/yotoxona.png' alt='dgh')
        section.xarita 
            .container 
                .row 
                    .karta__kart
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12203.426157390968!2d65.3688337!3d40.12320045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1697712247319!5m2!1sru!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')









            





        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")